<div class = "container">
        <div class = " row article-saved"></div>
        <div class = "row post-notes">
            <div class = "header"></div>
            <div class = "content">
                <input id = "title-input" name = "title">
                <textarea id = "body-input" name = "body"></textarea>
        
            </div>

        </div>
</div>
{{!-- <div id = "notes"></div> --}}
